<p>landing works!</p>

{{carname}} <br>
{{data_name.name}} <br>

<button (click)="age()">age</button>
<div *ngIf="age1">
    {{age1.age}}
</div>

<br>

<button (click)="getdata()">get</button>
<button (click)="setdata()">set</button>
<div *ngIf="fruit">
    {{fruit}}
</div> <br> <br>



<button (click)="getStudentName()">getstudentname</button>
studentname:{{studentname}} <br><br>

<button (click)="setStudentName()">setstudentname</button>


<button (click)="multiplication()">mul</button> <br> <br>

<button (click)="getdata1()">getNumber</button>
{{mobNo}} {{mobNo2}}