
<!-- <div class="abc">
  <h1>hey mohit</h1>
</div>

{{mysurname1}}
<button (click)="test()">click</button>


{{mysurname}}
<button (click)="test3()">click</button>
<br> -->

<!-- <p>user:</p> -->

<!-- <app-user></app-user>

<br>

<app-databinding></app-databinding> -->

<!-- <button routerLink="/user">user</button> &nbsp; &nbsp;
<button routerLink="databinding">databinding</button>&nbsp; &nbsp;

<a href="/user">user compo with anchor tag</a> &nbsp; &nbsp;
<a routerLink="/user">user compo with anchor tag</a> &nbsp; &nbsp;

<button routerLink="/use">wild card</button> &nbsp; &nbsp;

<button routerLink="home_home">home_home</button> &nbsp; &nbsp;
<button routerLink="home_landing">home_landing</button>  &nbsp; &nbsp;

<br> <br> -->
<!-- lazy loading -->
<!-- <button routerLink="/home/home_module">home_module</button> &nbsp;  &nbsp;
<button routerLink="/home/home_landing">home_landing</button> &nbsp;  &nbsp;
<button routerLink="/aboutus/aboutusdetails">aboutus-details</button> &nbsp;  &nbsp;
<button routerLink="/aboutus/aboutuslanding">aboutus-landing</button> &nbsp;  &nbsp;
<button routerLink="/admin/admin">admin</button> &nbsp;&nbsp;
<button (click)="redirect()">admin by .tc</button> &nbsp;&nbsp;
<button routerLink="/test/testHome">testHome</button>&nbsp;&nbsp;
<button (click)="testcontact()">testContact</button>-->


<app-header></app-header>

<router-outlet></router-outlet> 

<app-footer></app-footer>
