<!-- <p>header works!</p> -->
<!-- lazy loading - -->
<button routerLink="/home/home_module">home_module</button> &nbsp; &nbsp;
<button routerLink="/home/home_landing">home_landing</button> &nbsp; &nbsp;
<button routerLink="/aboutus/aboutusdetails">aboutus-details</button> &nbsp; &nbsp;
<button routerLink="/aboutus/aboutuslanding">aboutus-landing</button> &nbsp; &nbsp;
<button routerLink="/admin/admin">admin</button> &nbsp;&nbsp;
<button (click)="redirect()">admin by .tc</button> &nbsp;&nbsp;
<button routerLink="/test/testHome">testHome</button>&nbsp;&nbsp;
<button (click)="testcontact()">testContact</button> &nbsp; &nbsp;
<button routerLink="/directive">directive</button> <br>
<button routerLink="/form">form</button> &nbsp;&nbsp;
<button routerLink="/anularforms/templateform">templateform</button> &nbsp;&nbsp;
<button routerLink="/anularforms/reactiveform">reactiveform</button> &nbsp;
<button routerLink="/admin/adminchilde">admin-Child</button> &nbsp;&nbsp;
<button routerLink="/admin/adminparent">admin-Parent</button> &nbsp;&nbsp;
<button routerLink="/user">user</button> &nbsp; &nbsp;
<button routerLink="/databinding">databinding</button> &nbsp; &nbsp;
<button routerLink="/lifecyclehook">lifecyclehook</button> &nbsp; &nbsp;
<button routerLink="/lifecycleParent">lifecycle-parent</button> &nbsp; &nbsp;
<button routerLink="/subject">subject</button>